@import 'tailwindcss';

:root {
  --background: #171717;
  --foreground: #ffffff;
  --urban-green: rgb(51, 72, 62);
  --urban-green-opacity: rgba(51, 72, 62, 0.8);
  --urban-white: #fafafa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f0e7;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background); /* Use your theme variable instead of hardcoded color */
  color: var(--foreground);
  font-family: var(--font-geist-sans);
  overflow: auto;
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

main {
  overflow: hidden;
}
