.aboutPageSection {
  position: relative;
  overflow: hidden;
  background-color: #f1f0e7;
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 60vh;
}

.about-bg-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transform: skewX(46deg) translateX(-32rem);
  background: rgba(51, 72, 62, 0.1);
  pointer-events: none;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

@media (min-width: 1024px) {
  .about-bg-section {
    opacity: 1;
    visibility: visible;
  }
}

.container {
  width: 100%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.aboutPageTitle {
  grid-column: 1/12;
  grid-row: 2;
  font-size: 50px;
  line-height: 55px;
  font-weight: 700;
  color: var(--urban-green);
}

.aboutPageSubtitle {
  grid-column: 1/12;
  grid-row: 1;
  color: var(--urban-green);
}

.body-images {
  color: var(--urban-green);
  font-family: var(--font-geist-mono);
}

.title-images {
  font-size: 50px;
  line-height: 55px;
  font-weight: 700;
  color: var(--urban-green);
}

.aboutPageBody {
  grid-column: 1/12;
  grid-row: 3;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .aboutPageSection {
    padding: 50px 0;
  }
}

.about-image {
  aspect-ratio: 2 / 1;
  width: 100%;
  height: auto;
  display: block;
}

.aboutPageGrid {
  position: relative;
  z-index: 1;
}
