.aboutPageSection {
  padding: 100px 0;
  position: relative;
  background-color: #f1f0e7;
}

.about-bg-section {
  position: absolute;
  top: 0;
  right: auto;
  width: 50%;
  height: 100%;
  /* transform: skewX(12deg) translateX(-8rem); original */
  transform: skewX(46deg)translateX(-32rem);
  display: none;
  background:rgba(51, 72, 62, 0.1)
}

@media (min-width: 1024px) {
  .about-bg-section {
    display: block;
  }
}

.container {
  width: 100%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.aboutPageTitle {
  grid-column: 1/12;
  grid-row: 2;
  font-size: 50px;
  line-height: 55px;
  font-weight: 700;
  color: var(--urban-green);
}

.aboutPageSubtitle {
  grid-column: 1/12;
  grid-row: 1;
  color: var(--urban-green);
}

.body-images {
  color: var(--urban-green);
  font-family: var(--font-geist-mono);
}

.title-images {
  font-size: 50px;
  line-height: 55px;
  font-weight: 700;
  color: var(--urban-green);
}

.aboutPageBody {
  grid-column: 1/12;
  grid-row: 3;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .aboutPageSection {
    padding: 50px 0;
  }
}
