.right-image-section-entertainment {
  padding: 200px 0 100px 0;
  background-color: #f1f0e7;
}

.image-wrapper-entertainment {
  width: 100%;
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  aspect-ratio: 3 / 2; /* ou 4/3 si tu préfères */
  position: relative;
}

.entertainment-hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px; /* optionnel */
  display: block;
}
