.headerContainer {
  -webkit-box-align: center;
  align-items: center;
  gap: 20px;
  background-color: var(--urban-green);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-radius: 5px;
  padding: 16px 64px;
  color: var(--urban-white);
  border: 1px solid transparent;
}

.header {
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  display: flex;
  position: fixed;
  top: 0%;
  z-index: 1002;
  align-items: center;
  width: 100%;
}

.headerContainer.scrolled {
  border: 1px solid white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navLink {
  text-wrap: nowrap;
  color: #f1f0e7;
  background: transparent;
  border-radius: 5px;
  padding: 6px 10px;
}

.navLink:hover,
.navLink:active {
  color: var(--urban-green);
  background: #f1f0e7;
  border-radius: 5px;
}
