.headerMobile {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  margin: 1.5rem 0 0 0;
  display: flex;
  justify-content: center; /* center the container */
  padding: 0 16px; /* small side padding for small screens */
  background-color: var(--urban-green);
}

.headerMobileContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--urban-green);
  padding: 16px 8px;
  border-radius: 5px;
  color: var(--urban-white);
  border: 1px solid transparent;
  width: 100%;
  max-width: 1200px; /* control the width */
}

.headerMobileContainer.scrolled {
  border: 1px solid white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.burgerButton {
  color: white;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.burgerButton:hover,
.burgerButton:active {
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 768px) {
  .headerMobileContainer {
    padding: 8px 8px;
  }
}
