.hero-title {
  color: var(--urban-white);
  font-weight: 700;
  grid-row: 2;
  text-wrap: nowrap;
  grid-column: 1/13;

  font-size: 200px;
}

.hero-subtitle {
  font-weight: 400;
  color: var(--urban-white);
  text-align: center;
  grid-row: 1;
  grid-column: 1/13;
  margin: 0 auto;
  font-size: 32px;
}

.hero-body {
  font-weight: 400;
  color: var(--urban-white);
  text-align: center;
  font-family: var(--font-geist-mono);
  grid-row: 3;
  grid-column: 1/13;
  margin: 0 auto;
  font-size: 32px;
}

.hero-section-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-bg-img {
  object-fit: cover;
  z-index: -1; /* Pour t’assurer qu’elle reste en fond */
}

@media (max-width: 768px) {
  .hero-title {
    color: var(--urban-white);
    font-size: 35px;
  }

  .hero-subtitle {
    font-weight: 400;
    color: var(--urban-white);
    font-size: 16px;
  }

  .hero-body {
    font-size: 16px;
  }

  .hero-section-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero-title {
    color: var(--urban-white);
    font-size: 100px;
  }

  .hero-subtitle {
    font-weight: 400;
    color: var(--urban-white);
    font-size: 24px;
  }

  .hero-body {
    font-size: 32px;
  }

  .hero-section-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 20px;
  }
}

@media (min-width: 1025px) and (max-width: 1536px) {
  .hero-title {
    color: var(--urban-white);
    font-size: 100px;
  }

  .hero-subtitle {
    font-weight: 400;
    color: var(--urban-white);
    font-size: 32px;
  }

  .hero-body {
    font-size: 32px;
  }

  .hero-section-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 20px;
  }
}
