.marquee-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f1f0e7;
  padding: 2rem 0;
  pointer-events: none;
  z-index: 0;
}

.custom-marquee {
  display: flex;
  align-items: center;
}

.marquee-item-container {
  display: flex;
  align-items: center;
  margin: 0 3rem;
}

.marquee-img {
  height: 200px;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  display: block;
}

@media (max-width: 1024px) {
  .marquee-img {
    height: 150px;
  }
}

@media (max-width: 768px) {
  .marquee-img {
    height: 100px;
  }
}

.marquee-word {
  font-size: 200px;
  font-weight: 800;
  line-height: 1;
  color: var(--urban-green);
  white-space: nowrap;
  margin-right: 4rem;
}

.marquee-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .marquee-word {
    font-size: 150px;
  }

  /* .custom-marquee {
    height: 240px;
  } */
}

@media (max-width: 768px) {
  .marquee-word {
    font-size: 100px;
  }

  .custom-marquee {
    height: 160px;
  }

  .marquee-item-container {
    margin: 0 1.5rem;
  }
}

.marquee-image-wrapper {
  width: 100%;
  max-width: 250px;
}
