.main-terms-page {
  padding: 200px 0 0 0;
  color: var(--urban-green);
}

.grid-container-terms {
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.terms-title-terms {
    grid-column: 2/11;
    grid-row: 1;
    font-size: 90px;
}

.terms-subtitle-terms {
    grid-column: 2/11;
    grid-row: 2;
    font-size: 24px;
}

.terms-body-terms {
    grid-column: 2/11;
    grid-row: 3;
    font-size: 24px;
}