.main-terms-page {
  padding: 200px 25px 80px 25px;
  color: var(--urban-green);
}

@media (max-width: 767px) {
  .main-terms-page {
    padding: 120px 16px 40px 16px;
  }
}

.item-description {
  font-size: var(--font-geist-mono);
}
