.right-image-section {
  padding: 150px 0 150px 0;
}

.item-description {
  font-family: var(--font-geist-mono);
}

.svg-wrapper {
  grid-column: 2/12;
}

@media (max-width: 768px) {
  .right-image-section {
    padding: 50px 0 50px 0;
  }

  .svg-wrapper {
    grid-column: 2/11;
  }
}
