.right-image-section {
  padding: 150px 0 150px 0;
}

.item-description {
  font-family: var(--font-geist-mono);
}

.svg-wrapper {
  grid-column: 2/12;
}

@media (max-width: 768px) {
  .right-image-section {
    padding: 50px 0 50px 0;
  }

  .svg-wrapper {
    grid-column: 2/11;
  }
}

.text-img-right-wrapper {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 3 / 2;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.text-img-right {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px; /* optionnel */
}
