.item-description {
  font-family: var(--font-geist-mono);
}

@media (max-width: 768px) {
  .item-description {
    padding: 0 8px;
  }
}

.whyus-img {
  object-fit: cover;
  transition: transform 0.5s ease;
}
